<!DOCTYPE html>
<style>
  #public-key {
    width: 30%;
    overflow-wrap: break-word; /* Allow long words to be broken and wrap onto the next line */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .copy-button {
    display: none;
    background-color: #6495ED;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }

  .copy-button:hover {
    background-color: #345694;
  }
</style>
<head>
  <title>Harambe</title>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}<li>{{ message }}</li>{% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block body %}
  {% endblock body %}
</body>
