<script src="{{url_for('static', filename='shareFile.js')}}"></script>

{% extends "layout.html" %}
{% block body %}
 
    <form id="form">
        <h1>Share File</h1>

        <label for="recipient_username">Recipient Username</label>
        <input required
               type="text"
               name="recipient_username"
               id="recipient_username">
 
        <select name="file_select" id="file_select"></select>

        <label for="keyPassword">Key Password:</label>
        <input type="password" id="keyPassword" required />
        <button type="button" id="toggleKeyPassword">Toggle Visibility</button>

        <input type="submit" value="Share File" id="submit">
    </form>

{% endblock body %}
