<script src="{{url_for('static', filename='uploadFile.js')}}"></script>

{% extends "layout.html" %}
{% block body %}
 
    <form action="{{ url_for("upload_file") }}" id="form">
        <h1>Upload File</h1>
        <input required type="file" id="file_selector" onchange="updateLabel(event)">

        <label for="file_label">File Label</label>
        <input required type="text" name="file_label" id="file_label">
        <em>The file label will be left unencrypted for identification purposes
            <br>
        The file name itself will remain when downloaded</em>

        <label for="keyPassword">Key Wrapping Password:</label>
        <input type="password" id="keyPassword" required />
        
        <input type="submit" value="Encrypt and Upload">
    </form>

{% endblock body %}
